body {
    background-image: url(images/accBackground.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 80%;
    margin-left:auto;
    margin-right: auto;
    background-color:black;
    background-repeat:no-repeat;
    background-size: 100%;
  }
  .cookies-eu-banner {
    background: #444;
    font-family: Unbounded-Regular;
    color: #fff;
    padding: 6px;
    font-size: 13px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 10;
  }
  
  .cookies-eu-banner button {
    text-decoration: none;
    font-family: Unbounded-ExtraBold;
    background: #222;
    color: #fff;
    border: 1px solid #000;
    cursor: pointer;
    padding: 4px 7px;
    margin: 2px 0;
    font-size: 13px;
    transition: background 0.07s, color 0.07s, border-color 0.07s;
  }
  
  .cookies-eu-banner button:hover {
    background: #fff;
    color: #222;
  }
  .box-title {
    color: #ffffff;
    text-align: center; /* Text zentrieren */
    font-family: Unbounded-ExtraBold;
    font-weight: bold;
  }
  .box-sub {
    color: #ffffff;
    text-align: center; /* Text zentrieren */
    font-family: Unbounded-Light;
  }
   /* Dropdown Button */
.dropbtn {
    background-color: #04AA6D;
    background-color: rgb(0, 204, 255);
    color: white;
    font-family: Unbounded-Regular;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  /* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    background-color: #000000;
    font-family: Unbounded-Regular;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  .dropdown-content a:hover {background-color: #363636;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    transform:scale(1.1);
    background-color: #3e8e41;
    } 
  .dropdown:hover .dropbtn {background-color: #272727;}

  @font-face { font-family: Unbounded-Regular; src: url('fonts/Unbounded-Regular.ttf'); } 
		h1 {
		   font-family: Unbounded-Regular
		}
		@font-face { font-family: Unbounded-ExtraBold; src: url('fonts/Unbounded-ExtraBold.ttf'); } 
		h1 {
		   font-family: Unbounded-ExtraBold
		}
		@font-face { font-family: Unbounded-Light; src: url('fonts/Unbounded-Light.ttf'); } 
		b {
		   font-family: Unbounded-Light
		}

        .step1 {
			text-align: left;
			font-family: Unbounded-Regular;
			padding-left: 20px;
			color:#ffffff;
			padding-bottom:50px;
			font-size: 15px;
			}
            a:link{
				color: white;
			}
			a:hover{
				color:gray;
			}
			a:active{
				color:rgb(0, 204, 255);
			}
			a:visited{
				color:white;
			}
            img:hover {
                transform: scale(1.12);
            }

            /* page games */

            .box-title{
			color:white;
			font-family: Unbounded-ExtraBold;
			text-align: center;
			padding-top: 2.5px;
		}
		.button-back{
			color:white;
			font-family:Unbounded-ExtraBold;
			text-align: left;
			text-transform: 20px;
		}

        a:link{
            color: white;
        }
        a:hover{
            color:gray;
        }
        a:active{
            color:rgb(0, 204, 255);
        }
        a:visited{
            color:white;
        }
        .box-game{
            color: #FFFFFF;
            padding-top: 10px;
            text-align: center;
            padding-left: 20px;
            margin-left:auto;
            margin-right: auto;
            font-family: Unbounded-Regular;
        }